
<!DOCTYPE html>
<html>
<head>
  <title>First</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
     <% if current_user.access_token.blank? %>
             <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% else %>
               <%= link_to "Sign out", facebook_logout_path %>
          <% end %>
    
    <ul class="navbar-brand"><%= image_tag current_user.profile_picture.url(:thumb),:title => current_user.email,:id => 'new_apple',:class => "img-circle img-responsive",:width=>'65px',:height=>'10px'%></ul>

     <p class="notice"><%= notice %></p>
      <% if alert %>
       <p class="alert"><%= alert %></p> 
      <%end%>
      
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>


</body>
</html>
<script>
$('#new_apple' ).click(function()
{
   alert("sd")
} ); 
</script>