
<!DOCTYPE html>
<html>
    <head>
        <title>First</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <% if user_signed_in? %>
          <nav class="top-bar">
              <ul class="title-area">
                  <li class="name">
                      <h1><%= link_to "Signed in as #{current_user.email}. Not you?", books_path %></a></h1>
                  </li>
              </ul>
              <section class="top-bar-section">
                  <ul class="right">
                      <li class="divider"></li>
                      <li><%= link_to "Books", root_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "FaceBook",friends_index_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Profile" %></li>
                      <li class="divider"></li>
                      <% if current_user.access_token.blank? %>
                        <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                      <% else %>
                        <li><%= link_to "Sign out", facebook_logout_path %></li>
                      <% end %>

                    <% else %>
                      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>

                    <% end %>
                </ul>
                </div>
        </nav>
        <% if user_signed_in? %>
          <div id="user_nav">

              <div id='image_load'>
                  <ul class="navbar-brand"><%= image_tag current_user.profile_picture.url(:thumb),:title => current_user.email,:id => 'new_apple',:class => "img-circle img-responsive",:width=>'65px',:height=>'10px'%></ul></div>

              <p class="notice"><%= notice %></p>
              <% if alert %>
                <p class="alert"><%= alert %></p> 
              <%end%>


          </div>
        <%end%>
        <div class="container">
            <%= yield %>
        </div>


    </body>
</html>
<script>
  $('#new_apple').click(function ()
  {
      alert("sd")
  });



<%#*setInterval(function()%>
<%#*{%>
<%#*$('#image_load').load('/social_sites/load_image');%>
<%#*}, 9000);%>
</script>